<head>
    <link rel="icon" href="data:;base64,=">
    <title>Fill In</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<script>

    window.onload = function () {

        document.getElementById("show").onclick = function () {
            document.getElementById("answer").style.display = '';
        };



        document.getElementById("dark").style.display = 'none';

        document.getElementById("light").onclick = function () {
            document.getElementById("light").style.display = 'none';
            document.getElementById("dark").style.display = '';

            document.getElementById("body").style.backgroundColor = 'white';
            document.getElementById("body").style.color = 'black';
        };

        document.getElementById("dark").onclick = function () {
            document.getElementById("light").style.display = '';
            document.getElementById("dark").style.display = 'none';

            document.getElementById("body").style.backgroundColor = 'black';
            document.getElementById("body").style.color = 'white';
        };

    };

</script>

<body id="body" style="display: flex; flex-direction: column; background-color: black; color: white">

<button id="light" style="right: 0; top: 0; position: absolute">Light</button>
<button id="dark" style="right: 0; top: 0; position: absolute">Dark</button>


<a style="text-align: center" href="{{ url_for('homepage') }}">
    <button>Homepage</button>
</a>
<br>
<a style="text-align: center" href="{{ url_for('search') }}">
    <button>Search</button>
</a>
<br>
<table style="text-align: center; width: 80%; margin-left: 10%;">
    <tr>

        <td>
            <a style="text-align: center; margin-right: 5px"
               href="{{ url_for('question', q_type=prev_t, q_id=prev_q) }}">
                <button><</button>
            </a>
        </td>

        <td>
            <a style="text-align: center; display: inline" href="{{ url_for('question', q_type=rnd_t, q_id=rnd_q) }}">
                <button>Random</button>
            </a>
        </td>

        <td>
            <a style="text-align: center; padding-left: 5px; display: inline"
               href="{{ url_for('question', q_type=next_t, q_id=next_q) }}">
                <button>></button>
            </a>
        </td>

    </tr>
</table>

<p>{{ question_text }}</p>
<p style="display: none" id="answer">{{ answer }}</p>

<a id="show">
    <button>Show Answer</button>
</a>

</body>