<head>
    <link rel="icon" href="data:;base64,=">

    <title>Question</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<script>

    window.onload = function () {

        document.getElementById("show").onclick = function () {
            document.getElementById("answer").style.display = '';
        };

    };

</script>

<body style="display: flex; flex-direction: column; background-color: black; color: white">

<a style="text-align: center" href="{{ url_for('question', q_type=next_t, q_id=next) }}">
    <button>Next Question</button>
</a>

<p>{{ question_text }}</p>
<p style="display: none" id="answer">{{ answer }}</p>

<a id="show">
    <button>Show Answer</button>
</a>

</body>