<head>
    <link rel="icon" href="data:;base64,=">
    <title>Homepage</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<script>

    window.onload = function () {

        let darkMode;
        if (localStorage.getItem("someVarKey") == null) {
            darkMode = "yes";
        }
        else {
            darkMode = localStorage.getItem("someVarKey");
        }

        document.getElementById("light").onclick = function () {
            darkMode = "no";
            localStorage.setItem("someVarKey", darkMode);

            document.getElementById("light").style.display = 'none';
            document.getElementById("dark").style.display = '';

            document.getElementById("body").style.backgroundColor = 'white';
            document.getElementById("body").style.color = 'black';
        };

        document.getElementById("dark").onclick = function () {
            darkMode = "yes";
            localStorage.setItem("someVarKey", darkMode);

            document.getElementById("light").style.display = '';
            document.getElementById("dark").style.display = 'none';

            document.getElementById("body").style.backgroundColor = 'black';
            document.getElementById("body").style.color = 'white';
        };

        if (darkMode === "no") {
            document.getElementById("body").style.backgroundColor = 'white';
            document.getElementById("body").style.color = 'black';


            document.getElementById("light").style.display = 'none';
            document.getElementById("dark").style.display = '';
        }

        if (darkMode === "yes")  {
            document.getElementById("body").style.backgroundColor = 'black';
            document.getElementById("body").style.color = 'white';

            document.getElementById("dark").style.display = 'none';
            document.getElementById("light").style.display = '';
        }
    };

</script>

<body id="body" style="background-color: black; color: white; text-align: center">

<button id="light" style="right: 0; top: 0; position: absolute">Light</button>
<button id="dark" style="right: 0; top: 0; position: absolute">Dark</button>

<p>Information Systems - Polito</p>
<p>All 1403 questions you can find in the written exam</p>
<p>"Multiple Choice" and "True or False"</p>
<a href="{{ url_for('question', q_type=next_t, q_id=next_q) }}">
    <button>START!</button>
</a>

<p>Search for a question</p>
<a href="{{ url_for('search') }}">
    <button>Search</button>
</a>

<p>Buy me a beer if you liked it ;)</p>
<a href="https://www.paypal.me/MatteoTripaldi/1">
    <button>Donate</button>
</a>

<p>Big thanks to the supporters!</p>
<p>Faith</p>

</body>