<head>
    <link rel="icon" href="data:;base64,=">

    <title>Homepage</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<body style="background-color: black; color: white; text-align: center">

<p>Information Systems - Polito</p>
<p>All 1791 questions you can find in the written exam</p>
<p>Multiple + True or False + Fill In</p>

<a href="{{ url_for('question', q_type=next_t, q_id=next_q) }}">
    <button>START!</button>
</a>

<p>Buy me a beer if you liked it ;)</p>
<a href="https://www.paypal.me/MatteoTripaldi/1">
    <button>Donate</button>
</a>

</body>