<head>
    <link rel="icon" href="data:;base64,=">
    <title>Multiple</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">

<script>

    window.onload = function () {

        let darkMode = localStorage.getItem("someVarKey");

        document.getElementById("{{ answer }}").onclick = function () {
            document.getElementById("{{ answer }}").style.color = 'green';
        };

        document.getElementById("{{ wrong_1 }}").onclick = function () {
            document.getElementById("{{ wrong_1 }}").style.color = 'red';
        };

        document.getElementById("{{ wrong_2 }}").onclick = function () {
            document.getElementById("{{ wrong_2 }}").style.color = 'red';
        };

        document.getElementById("{{ wrong_3 }}").onclick = function () {
            document.getElementById("{{ wrong_3 }}").style.color = 'red';
        };

        if (darkMode === "no") {
            document.getElementById("body").style.backgroundColor = 'white';
            document.getElementById("body").style.color = 'black';
        }

        if (darkMode === "yes")  {
            document.getElementById("body").style.backgroundColor = 'black';
            document.getElementById("body").style.color = 'white';
        }
    };

</script>

<body id="body" style="display: flex; flex-direction: column; background-color: black; color: white">

<a style="text-align: center" href="{{ url_for('homepage') }}">
    <button>Homepage</button>
</a>
<br>
<a style="text-align: center" href="{{ url_for('search') }}">
    <button>Search</button>
</a>
<br>
<table style="text-align: center; width: 80%; margin-left: 10%;">
    <tr>

        <td>
            <a style="text-align: center; margin-right: 5px"
               href="{{ url_for('question', q_type=prev_t, q_id=prev_q) }}">
                <button><</button>
            </a>
        </td>

        <td>
            <a style="text-align: center; display: inline" href="{{ url_for('question', q_type=rnd_t, q_id=rnd_q) }}">
                <button>Random</button>
            </a>
        </td>

        <td>
            <a style="text-align: center; padding-left: 5px; display: inline"
               href="{{ url_for('question', q_type=next_t, q_id=next_q) }}">
                <button>></button>
            </a>
        </td>

    </tr>
</table>

<p>{{ question_text }}</p>

<label id="A">
    <input type="radio" name="answer">{{ a }}
</label>

<label id="B">
    <input type="radio" name="answer">{{ b }}
</label>

<label id="C">
    <input type="radio" name="answer">{{ c }}
</label>

<label id="D">
    <input type="radio" name="answer">{{ d }}
</label>

</body>